 body {
     background-color: #333333;
     color: #ffffff;
     overflow: visible;
 }

 #score #speed {
     display: inline-block;
 }

 div {
     font-size: 25px;
     font-weight: bold;
     font-family: monospace;
     text-align: center;
 }

 canvas {
     display: block;
     margin: 0 auto;
 }


 #tetris-container {
     display: flex;
 }