 body {
     background-color: #333333;
     color: #ffffff;
     overflow: hidden;
     background-image: url(../img/backgroundTetris2.jpg);
     background-size: 50%;
 }

 #score #speed {
     display: inline-block;
 }

 div {
     font-size: 25px;
     font-weight: bold;
     font-family: monospace;
     text-align: center;
 }

 canvas {
     display: flex;
     flex-direction: column;
     margin: 110px auto;
 }

 #performance {
     display: block;
     position: fixed;
     margin-left: 400px;
     margin-top: 550px;
 }

 #tetris-container {
     display: flex;
 }

 #logo {
     height: 100px;
     width: 300px;
     margin: 0 auto;
     position: fixed;
     left: 610px;
     top: 0;
 }